{{#each this}}
  <h1 class='country-name'>{{name}}</h1>
  <div class='country__container'>
    <div class='left'>
      <p class='country-information'><span class='text'>Capital: </span>{{capital}}</p>
      <p class='country-information'><span class='text'>Population: </span>{{population}}</p>
      <p class='country-information'><span class='text'>Languages: </span></p>
      <ul class='country-languages__list'>
        {{#each languages}}
          <li class='country-languages__item'>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class='right'>
      <img src='{{flag}}' alt='{{name}} flag' height='400' width='500' />
    </div>
  </div>
{{/each}}